<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>898344634206-11ioidkr25cj2n77uk1dub2jt82v70do.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.898344634206-11ioidkr25cj2n77uk1dub2jt82v70do</string>
	<key>API_KEY</key>
	<string>AIzaSyCgvfZy00ZvlfQavwcuma8_NgQ4vrVkrEE</string>
	<key>GCM_SENDER_ID</key>
	<string>898344634206</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cheeseClient</string>
	<key>PROJECT_ID</key>
	<string>cheese-staging</string>
	<key>STORAGE_BUCKET</key>
	<string>cheese-staging.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:898344634206:ios:7b3f7d41145e6b6b5231cf</string>
</dict>
</plist>